@charset "UTF-8";

/*================================================
 *  タブレット/スマートフォン向けデザイン
 ================================================*/
body {
    box-sizing:border-box;
    width:100%;
    padding:0 10px;
    background-color: darkorange;
}

#contents {
    width:100%;
}

header {
    width:100%;
}

@media screen and (max-width: 499px) {
    footer {
        clear: both;
        padding:15px 0;
        font-size:9px;
        background-color: #ddd;
    }

    #copyright {
        text-align: center;
    }

    /* 検索ウィンドウ */
    .search-form {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    #keywords {
        width: 182px;
        height: 16px;
        background: #999;
        border: none;
        padding: 4px;
        color: #FFF;
    }
}

@media screen and (min-width: 500px) and (max-width: 798px) {
    .cols .col {
        float: left;
        width: 48%;
        margin-left: 4%;
        color: white;
        text-align: center;
    }

    .cols .col:nth-child(3) {
        clear: both;
        margin-left: 0;
    }
}

.cols .col {
    color: white;
    text-align: center;
}

.cols .col:first-child {
    margin-left: 0;
}

.cols:after {
    content: "";
    display: block;
    clear: both;
}

/* 端末が横向きの場合 */
@media (orientation: landscape) {
    body {
        background: lightpink;
    }
}